.h10 {
    width: auto;
    height: 10px;
}
.h20 {
    width: auto;
    height: 20px;
}
.split-line {
    border-top: 1px solid #e2e3e8;
}
.text-center {
    text-align: -webkit-center;
    text-align: center;
}
